### list and list related example

In [1]:
li=[1,2,3,4,5]
print(len(li))

5

In [3]:
li[4]=643
print(li)

[1, 2, 3, 4, 643]

In [4]:
del li[2]
print(li)

[1, 2, 4, 643]

In [5]:
del li[2]
print(len(li))

3

In [14]:
li=[1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [15]:
print(li[3])

4

In [16]:
li[4]=146
print(li)

[1, 2, 3, 4, 146]

In [17]:
del li[4]
print(li)

[1, 2, 3, 4]

In [18]:
print(li[-1])

4

In [19]:
print(li[0:3])

[1, 2, 3]

In [20]:
print(li[1:3])

[2, 3]

In [24]:
li=[5,6,7,8,9]
print(li)

[5, 6, 7, 8, 9]

In [25]:
print(max(li)) # max value of the list

9

In [27]:
print(min(li)) # min value of the list

5

In [28]:
print(sum(li)) # sum value of the list
print(sum(li)//len(li)) # average

35
7

In [33]:
li=[5,6,7,8,9]
print(li)

[5, 6, 7, 8, 9]

In [34]:
li.append(400)
li

[5, 6, 7, 8, 9, 400]

In [35]:
li.insert(7,26)
li

[5, 6, 7, 8, 9, 400, 26]

In [37]:
li.append(400)
li

[5, 6, 7, 8, 9, 400, 26, 400]

In [39]:
li.count(400)

2

In [40]:
li.index(26)

6

In [41]:
li.sort()
li

[5, 6, 7, 8, 9, 26, 400, 400]

In [42]:
li.pop()
li

[5, 6, 7, 8, 9, 26, 400]

In [44]:
li.pop(5)

26

In [46]:
li.pop(4)

9

In [47]:
# define a fuction to find out second large value of the list
#li=[1,9,16,25,2,3,65]

In [48]:
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1,9,16,25,2,3,65]
secondlarge(li)

25

In [50]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,4)

9

In [51]:
def leastvalue(li):
    li.sort()
    return li[0]
leastvalue(li)

1

In [56]:
def genericleast(li,n):
    li.sort()
    return li[n]
genericleast(li,2)

3

#### number to list conversion

In [58]:
# 19648927- [1,9,6,4,8,9,2,7]

In [ ]:
def numtolist(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
    li.reverse()
    return li
numtolist(19648927)

#### Data structures - tuples
- it is similar to list objects
- list will be enclose in square brackets[] and tuples
- will be enclosed within pareenthsis()
- list can be increased or  decresed and tupls is fixed so that
- you can't increase or decrease tuples
- i mean list is mutable and tuples is inmutables
- list will be used for read and write whera as tuple is used for only reading

In [1]:
t1=[1,2,3,4]
t1

[1, 2, 3, 4]

In [1]:
t1[2]=123

NameError: name 't1' is not defined

#### Data structure - Dictionaries
- This data structure called dictionary
- This data structure objects is work on set of keys and values
- There will be unique key set will be defined
- Every key will be seperated from its value by colon(:)
- Every key and value pair is seperated by comma(,)
- It is defined with curlu braces({})

#### Contact Applications
-- used concepts - dict,list,tuples

In [2]:
contacts={}
def addcontacts(name,phone):
    if name not in  contacts:
        contacts[name] = phone
        print("contact added")
    else:
        print("contact not added")
    return
addcontacts('anil',4455882200)
addcontacts('ajay',9988776644)
addcontacts('ajay',9988776644)

contact added
contact added
contact not added

In [27]:
contacts

{'anil': 2244882200,
 'ajay': 6688776644,
 'ramesh': 8767878768,
 'suresh': 123456789}

In [4]:
# define function of searchcontacts
def searchcontacts(name):
    if name in contacts:
        print(name," : ", contacts[name])
    else:
        print('contacts is not present')
    return
searchcontacts('anil')
searchcontacts('ajay')
searchcontacts('harsha')

anil  :  4455882200
ajay  :  9988776644
contacts is not present

In [17]:
# define the function to import the new contacts
def imports(newcontacts):
    contacts.update(newcontacts)
    print('new contacts are added')
    return
newcontacts = {"ramesh":8767878768,"suresh":123456789}
imports(newcontacts)

new contacts are added

In [ ]:
#define a function

In [25]:
def updatedetails(name,phone):
    if name in contacts:
        contacts[name]= phone
        print("contacts update is sucessfull")
    else:
        print("please enter new contact details")
    return
updatedetails('anil',2244882200)
updatedetails('sam',6688776644)

contacts update is sucessfull
please enter new contact details

In [20]:
# define fuction to delete the contact detail

In [29]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print ('contact is not present')
    return
deletecontact('anil')
deletecontact('sam')

contact is deleted
contact is not present

#### string to list conversions
- "1 2 3 4 5 6 "-[1,2,3,4,5,6]

In [31]:
a=input('enter the number')
print(type(a))
print(a)

enter the number1 2 3 4 5
<class 'str'>
1 2 3 4 5

In [33]:
s = "application test working"
li = s.split()
print(li)

['application', 'test', 'working']

In [34]:
s = "gitam hyderbad python programming "
li1 = s.split('a')
print(li1)

['git', 'm hyderb', 'd python progr', 'mming ']

In [36]:
#define a function to convert from stringtolist
def stringtolist(s):
    li = s.split()
    numberlist = []
    for i in li:
        numberlist.append(i)
    return numberlist
stringtolist('1 2 gitam 4 hyderbad')

['1', '2', 'gitam', '4', 'hyderbad']